<h2>Registrador Nuevo Estudiante</h2>

<div class="form-group">
  <label for="nombre">Nombre del Estudiante:</label>
  <input type="text"
         id="nombre"
         name="nombre"
         [(ngModel)]="nuevoEstudiante.nombre"
         placeholder="Ej. Juan Pérez"
         required />
</div>

<div class="form-group">
  <label for="carrera">Carrera:</label>
  <select [(ngModel)]="nuevoEstudiante.carreraId" id="carrera" name="carreraId" required>
    <option value="" disabled selected>Seleccione una carrera</option>
    <option *ngFor="let carrera of carreras" [value]="carrera.id">
      {{ carrera.nombre }}
    </option>
  </select>
</div>

<button (click)="registrarEstudiante()">Registrar</button>

<hr />

<h2>Estudiantes Registrados</h2>

<table>
  <thead>
    <tr>
      <th>IDENTIFICACIÓN</th>
      <th>Nombre</th>
      <th>Carrera</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{ estudiante.id }}</td>
      <td>{{ estudiante.nombre }}</td>
      <td>{{ estudiante.nombreCarrera }}</td>
    </tr>
  </tbody>
</table>
